body {
  background-color: #ede2e0;
  color: #8c736f;
}

.frame {
  display: flex;
  height: 80px;
}

.left {
  flex: none;
  align-items: flex-start;
  width: 22%;
  margin-left: 20px;
  margin-top: 10px;
  background-image: url("../image/logoname.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 60%;
  font-size: 20px;
  color: #8c736f;
}
.item {
  flex: none;
  width: 100px;
  margin: 15px;
  text-align: center;
}

.item a {
  text-decoration: none;
  color: #8c736f;
  letter-spacing: 2px;
}

.item a:hover {
  border-bottom: 2px solid #8c736f;
}

.right1 {
  align-items: center;
  flex: none;
  display: flex;
  width: 15%;
  justify-content: center;
}

.item-right1 {
  margin: 5px;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: #ede2e0;
  text-decoration: none;
  color: #8c736f;
  font-weight: bolder;
}

#logoutButton {
  position: absolute;
  top: 25px;
  right: 25px;
  border-radius: 5px;
  border: 1px solid #8c736f;
  background-color: #ede2e0;
  color: #8c736f;
}

.middle {
  display: flex;
}

.bigpicture {
  width: 100%;
  height: 500px;
  background-image: url("../image/01-HomePage.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.middletext {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #8c736f;
  letter-spacing: 5px;
}

.mainmenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainmenu1 {
  width: 200px;
  height: 200px;
  margin: 0 50px;
  text-align: center;
  line-height: 200px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  background-image: url("../image/mainmenu-1.jpg");
  background-size: cover;
  color: #8c736f;
}

.mainmenu1:hover {
  background-image: none;
  border: 2px solid #8c736f;
}

.mainmenu2 {
  width: 200px;
  height: 200px;
  margin: 0 50px;
  text-align: center;
  line-height: 200px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  background-image: url("../image/mainmenu-2.jpg");
  background-size: cover;
  color: #8c736f;
}

.mainmenu2:hover {
  background-image: none;
  border: 2px solid #8c736f;
}

.mainmenu3 {
  width: 200px;
  height: 200px;
  margin: 0 50px;
  text-align: center;
  line-height: 200px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  background-image: url("../image/mainmenu-3.jpg");
  background-size: cover;
  color: #8c736f;
}

.mainmenu3:hover {
  background-image: none;
  border: 2px solid #8c736f;
}

.shape {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #8c736f;
  letter-spacing: 5px;
  height: 100px;
}

.shapepicture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shapepicture1 {
  width: 200px;
  height: 200px;
  margin: 0 25px;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  background-image: url("../image/nailstyle-Maillard/02-han_nail.jpg");
  background-size: cover;
  color: #8c736f;
}

.shapepicture2 {
  width: 200px;
  height: 200px;
  margin: 0 25px;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  background-image: url("../image/nailstyle-Christmas/07-metea_.art.jpg");
  background-size: cover;
  color: #8c736f;
}

.shapepicture3 {
  width: 200px;
  height: 200px;
  margin: 0 25px;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  background-image: url("../image/nailstyle-modeling/04-time_fans.studio.jpg");
  background-size: cover;
  color: #8c736f;
}

.shapepicture4 {
  width: 200px;
  height: 200px;
  margin: 0 25px;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  background-image: url("../image/nailstyle-monochrome/02-metea_.art.jpg");
  background-size: cover;
  color: #8c736f;
}

/* .guide {
    height: 40px;
    font-size: 25px;
    margin: 30px 0;
    padding-left: 12%;
} */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-top: 4px solid #8c736f;
  margin-top: 50px;
  color: #8c736f;
}

.footer1 {
  width: 35%;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer1_pic {
  width: 200px;
  height: 50px;
  background-image: url("../image/logoname.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer2 {
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.footer2 ul {
  list-style-type: none;
}

.footer2 li {
  line-height: 30px;
}

.footer3 {
  width: 45%;
  height: 100px;
}

.footer3 ul {
  list-style-type: none;
}

.footer3 li {
  line-height: 30px;
}

@media screen and (max-width: 854px) {
  .frame {
    flex-direction: column; /* 在小螢幕上將 flex 容器的方向更改為垂直列 */
    align-items: center;
    height: auto;
  }

  .left {
    width: 100%; /* 佔滿寬度 */
    height: 40px;
    margin: 10px 0; /* 移除左側邊距 */
    background-position: center center;
    background-size: contain;
  }

  .right {
    width: 100%; /* 佔滿寬度 */
    text-align: center; /* 文字置中 */
    margin-top: 10px; /* 上方外邊距 */
  }

  .right1 {
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 10px;
  }

  .footer1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
  }

  .footer1_pic {
    height: 30px;
    width: 150px;
    text-align: center;
    background-position: center center;
    background-size: contain;
  }

  .footer2 {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .footer3 {
    width: 100%;
    justify-content: center;
    align-items: start;
    text-align: center;
  }
}
