<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MANICURE</title>
    <link rel="icon" href="./image/logo.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="./css/appointmentForm.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/air-datepicker@3.3.5/air-datepicker.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="frame">
        <div class="left" @click="goToHomepage" style="cursor: pointer"></div>
        <div class="right">
          <div class="item"><a href="./nailStyle_0.html">美甲款式</a></div>
          <div class="item"><a href="./storeGuide.html">店家導覽</a></div>
          <div class="item"><a href="./appointmentForm.html">預約表單</a></div>
          <div class="item"><a href="./mProblem.html">常見問題</a></div>
        </div>
        <div class="right1">
          <button class="item-right1">
            <a href="./member.html" style="cursor: pointer">登入 / 註冊</a>
          </button>
        </div>
      </div>

      <div class="title">
        <div class="text">預約表單</div>
      </div>

      <div class="middle">
        <div class="formpicture">
          <ul class="slides">
            <input
              type="radio"
              v-for="(control, index) in sliderControls"
              :id="control"
              name="control"
              @click="handleSliderControl(index)"
            />
            <li class="slide" v-for="(image, index) in sliderImages">
              <img :src="image" width="300px" height="300px" />
            </li>
            <div class="controls-visible">
              <label :for="control" v-for="control in sliderControls"></label>
            </div>
          </ul>
        </div>

        <div class="formtext">
          <p>
            <label>選擇店家：</label>
            <select v-model="formData.selectedStore">
              <option
                v-for="store in stores"
                :value="store.value"
                :key="store.value"
              >
                {{ store.name }}
              </option>
            </select>
          </p>
          <p>
            <label>預約時間：</label>
            <input id="myDatepicker" ref="myDatepicker" />
          </p>
          <p>
            <label>施作項目：</label>
            <select name="manicuretype" id="manicuretype">
              <option value="0" selected>請選擇</option>
              <option value="modeling">造型</option>
              <option value="monochrome">單色</option>
            </select>
          </p>
          <p>
            <label>您的姓名：</label>
            <input type="text" id="name" />
          </p>
          <p>
            <label>連絡電話：</label>
            <input type="tel" maxlength="10" name="phone" id="phone" />
          </p>
          <p>
            <label>是否卸甲：</label>
            <select name="remove" id="remove">
              <option value="0" selected>請選擇</option>
              <option value="removeyes">是</option>
              <option value="removeno">否</option>
            </select>
          </p>
          <p>
            <label>是否延甲：</label>
            <select name="extend" id="extend">
              <option value="0" selected>請選擇</option>
              <option value="extendyes">是</option>
              <option value="extendno">否</option>
            </select>
          </p>
          <p>
            <button class="sendout" id="sendout" @click="handleSubmit">
              ✔ 送出
            </button>
          </p>
        </div>
      </div>

      <div class="footer">
        <div class="footer1">
          <div class="footer1_pic"></div>
        </div>
        <div class="footer2">
          <div>
            <p>美甲預約平台</p>
            <p>☏ 0900-000000</p>
          </div>
        </div>
        <div class="footer3">
          <div>
            <p>✉ manicure@gmail.com</p>
            <p>台中市南屯區公益路二段51號18樓</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3"></script>

    <!-- Air datepicker JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.3.5/air-datepicker.min.js"></script>
    <script src="./js/appointmentForm.js"></script>
  </body>
</html>
